---
layout: default
pagination:
    enabled: true
    sort_field: 'date'
    sort_reverse: true
    tags: Gossiping, NBA, Baseball, movie, KoreaStar, Beauty, Boy-Girl, WomenTalk, sex
---
<div class="tab-content">
    <div id="home" class="home tab-pane fade in active">
        <div class="row pack">
    
            {% for post in paginator.posts %}   
                {% if post.tags contains "sex" %}
                {% else %}
                <div class="col-md-3 card">
                     
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                        <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3>
                      </div>
                        <div class="img-container">
                            <div class="img-wrapper">
                            {% if post.img %}
                            <img class="post-img" src="{{post.img}}" alt="{{post.title}}">
                            {% else %}
                            <img class="post-img" src="{{site.baseurl}}/images/PTT.png" alt="{{site.title}}">
                            {% endif %}
                            </div>
                        </div>
                    </a>
                      <div class="panel-body"><a href="{{ post.url | prepend: site.baseurl }}"><small>
                        {{ post.excerpt | strip_html | truncate: 50 }}</small></a>
                      </div>
                      <div class="panel-body">
                        <p class="push pull-left mt10"><img height="20px" src="{{site.baseurl}}/images/up.png"/>  {{post.push}}   </p>
                        <p class="boo pull-left mt10"><img height="20px" src="{{site.baseurl}}/images/down.png"/>  {{post.boo}}</p>
                        <span class="post-meta pull-right"><small class="post-time">{{ post.date }}</small></span>
                      </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div> 
        
        <div class="row">
            <div class="col-md-4">  </div>
            <div class="col-md-4">
                {% if paginator.total_pages > 1 %}
                    <ul class="pager">
                        {% if paginator.first_page %}
                        <li class="previous">
                            <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">首頁</a>
                        </li>
                        {% endif %}

                        {% if paginator.previous_page %}
                        <li class="previous">
                            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                        </li>
                        {% endif %}

                        {% if paginator.page_trail %}
                          {% for trail in paginator.page_trail %}
                            <li {% if page.url == trail.path %}class="selected"{% endif %}>
                                <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
                            </li>
                          {% endfor %}
                        {% endif %}

                        {% if paginator.next_page %}
                        <li class="next">
                            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                        </li>
                        {% endif %}

                         {% if paginator.last_page %}
                        <li class="previous">
                            <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">...{{paginator.total_pages}}</a>
                        </li>
                        {% endif %}
                    </ul>
                {% endif %}
    
            </div>
            <div class="col-md-4">  </div>
        </div>
    </div><!--home-->
</div>  <!--tab-content-->
