<nav class="nav navbar-inverse category">
    <div class="container container-fluid">
        <div class="wrapper">
        <ul class="category-list nav nav-tabs list-inline">
            <li class=""><a href="{{site.baseurl}}/">所有</a></li>
            <li class="Gossiping" onClick="sessionStorage.setItem('cat', 'Gossiping')"><a href="{{site.baseurl}}/tag/gossiping">八卦</a></li>
            <li class="NBA" onClick="sessionStorage.setItem('cat', 'NBA')"><a href="{{site.baseurl}}/tag/nba">NBA</a></li>
            <li class="Baseball" onClick="sessionStorage.setItem('cat', 'Baseball')"><a href="{{site.baseurl}}/tag/baseball">棒球</a></li>
            <li class="movie" onClick="sessionStorage.setItem('cat', 'movie')"><a href="{{site.baseurl}}/tag/movie">電影</a></li>
            <li class="KoreaStar" onClick="sessionStorage.setItem('cat', 'KoreaStar')"><a href="{{site.baseurl}}/tag/koreastar">韓星</a></li>
            <li class="Boy-Girl" onClick="sessionStorage.setItem('cat', 'Boy-Girl')"><a href="{{site.baseurl}}/tag/boy-girl">男女</a></li>
            <li class="WomenTalk" onClick="sessionStorage.setItem('cat', 'WomenTalk')"><a href="{{site.baseurl}}/tag/womentalk">女版</a></li>
            <li class="Beauty" onClick="sessionStorage.setItem('cat', 'Beauty')"><a href="{{site.baseurl}}/tag/beauty">表特</a></li>
            <!--li class="sex" onClick="sessionStorage.setItem('cat', 'sex')"><a href="{{site.baseurl}}/tag/sex">18禁</a></li--!>
        </ul>
        </div>
    </div>
</nav>
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        document.getElementById(sessionStorage.getItem("cat")).className += (' active in');
        document.getElementsByClassName(sessionStorage.getItem("cat"))[0].className += (' active');
        var img_containers = document.getElementById(sessionStorage.getItem("cat")).getElementsByClassName("img-container");
        var cw = img_containers[0].getBoundingClientRect().width;
        for ( var i = 0; i < img_containers.length; i++ ) {
            img_containers[i].style.height = cw + 'px';
        }
    });
</script>
