<nav class="nav navbar-inverse category">
    <div class="container container-fluid">
        <div class="wrapper">
        <ul class="category-list nav nav-tabs list-inline">
            <li class="active"><a data-toggle="tab" href="#home">所有</a></li>
            <li class="gossip"><a data-toggle="tab" href="#Gossiping">八卦</a></li>
            <li class="sports"><a data-toggle="tab" href="#NBA">體育</a></li>
            <li class="movie"><a data-toggle="tab" href="#movie">電影</a></li>
            <li class="beauty"><a data-toggle="tab" href="#Beauty">表特</a></li>
        </ul>
        </div>
    </div>
</nav>
