<footer>
    <div class="container">
        <div class="row p20">
                <div class="col-md-4 text-center mt25">
                <p><a  href="{{ site.baseurl }}/intro">關於{{ site.title }} ※ Copy, right ©</a></p>
                {% if site.copyright.name %}
                <p>Power by <a target="_blank" href="{{site.copyright.link}}">{{site.copyright.name}}</a></p>
                {% endif %}
                <p><a >#人工智慧 #全自動農場</a></p>
                </div>
                <div class="col-md-4 text-center mt25">
                    <p>---新聞為自動產生---</p>
                    <p>---不代表本台立場---</p>
                </div>
                <div class="col-md-4 text-center mt25">
                    <img src="{{ site.baseurl }}/images/AILabs_icon.svg" height="70%" width="70%">
                </div>

            <!--div class="col-md-4 text-center mt25">
                <a target="_blank" href="{{site.facebook}}"><li class="social facebook"><img src="{{site.baseurl}}/images/facebook.svg" alt="{{site.facebook}}"></li></a> 
                <a target="_blank" href="{{site.quora}}"><li class="social quora"><img src="{{site.baseurl}}/images/quora.svg" alt="{{site.quora}}"></li></a>      
                <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><img src="{{site.baseurl}}/images/twitter.svg" alt="{{site.twitter}}"></li></a>      
                <a target="_blank" href="{{site.github}}"><li class="social github"><img src="{{site.baseurl}}/images/github.svg" alt="{{site.github}}"></li></a>
            </div--!>

        </div> 
    </div>
</footer>
