html,body {
    font-family: $base-font-family;
    font-size: $base-font-size;
}

.navbar {
    border-radius: 0;
}

.navbar-default {
    border-color: transparent;
    background-color: transparent;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

img {
    max-width: 100%;
}

.mt50 {
    margin-top: 50px;
}
.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}
.mt25 {
    margin-top: 0;
    @include media-query($on-palm) {
        margin-top: 25px;
    }
}

.p20{
    padding: 20px 0;
}
.navbar-brand {
    font-weight: 900;
    font-size: 1.85em;
    padding: 10px;
    @media screen and (max-width: $on-palm) {
        font-size: 1.5em;
    }
    > img {
        height: 50px;
    }
}
.post-meta {
    color: $grey-color;
}

.panel {
    
   border-radius: 0;
   border: 1px solid #eee;
   transition: all 0.3s ease;
}

.panel:hover {
    box-shadow: 0px 0px 4px #ddd;
}


footer {
    border-top: 1px solid $grey-color-light;
}

.social {
    list-style: none;
    display: inline;
    margin-left: 10px;
    padding: 5px 8px;
    }
.social:hover {
     opacity: 0.7;
}
.social img {
    width: 20px;
}

.quora img{
    width: 17px;
}

.facebook img {
    width: 16px;
}

.recent ul {
    list-style: none;
    padding: 0;
    text-align: justify;
}

.recent {
    padding: 10px;
    border: 1px solid $grey-color-light;
}

.post-img {
    width: 100%;
    overflow: hidden;
}

.img-container {
    > .img-wrapper {
        height: 100%;
        overflow: hidden;
    }
}

.pack {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.card {
    float: none;
}

.post-title {
    line-height: 2;
}

.post-content {
    > figure {
        margin: 1em 40px;
        text-align: center;
        font-style: italic;
    }
}

.boo {
    margin-left: 5px;
}

.nav-header {
    margin-bottom: 0;
}

.category {
    background-color : #a43d98;
}

.category-list {
    > li > a {
        color: white;
    }
    > li > a:hover {
        color: grey;
    }
}

.intro {
    text-align: center;
    width: 50%;
    margin-left: 25vw;
}

.gallery {
    overflow: hidden;
}

.photo {
    float: left;

    > img {
        width: 100%;
        height: auto;
    }
}

#gallery {width:534px; position:relative; height:60px; padding-top:356px; margin:0 113px 90px 113px;}

#gallery img.left {width:55px; height:62px; background:#444; float:left;cursor:pointer;}
#gallery img.right {width:55px; height:62px; background:#444; float:left;cursor:pointer;}

#gallery ul {list-style:none; padding:0; margin:0; float:left; background:#444; border:2px solid #444; border-width:5px 2px;}
#gallery ul li {display:inline; width:50px; height:50px; float:left; margin:0 4px; border:1px solid #000; cursor:pointer;}

#gallery ul li.hide {display:none;}

#gallery ul li img {visibility:hidden; display:block; width:50px; height:50px;}

#gallery ul li span {display:none; position:absolute; left:61px; top:430px; width:411px;font-family:verdana, arial, sans-serif; color:#666; font-size:11px; line-height:15px; text-align:justify;}
#gallery ul li b {color:#444;}

#gallery ul li.chosen {border-color:#fff; cursor:default;}
#gallery ul li.chosen div {position:absolute; left:0; top:0; width:532px; height:355px; background:#444; border:1px solid #000; border-width:1px 1px 0 1px;}#gallery ul li.chosen div i {width:530px; height:355px; display:table-cell; vertical-align:middle; text-align:center;}
#gallery ul li.chosen div i img {visibility:visible; width:auto; height:auto; border:1px solid #aaa; margin:0 auto;}
#gallery ul li.chosen span {display:block;}



