<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	{% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			{{ content }}
		</div>
	</div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=227202637801710";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, "script", "facebook-jssdk"));</script>

	{% include footer.html %}

</body>

</html>
