---
layout: default
---

<header class="post-header">
	<div>
		<span>張貼於 </span><span class="post-meta">
                    {% assign m = page.date | date: "%-m" %}
                      {% case m %}
                      {% when '1' %}一月
                      {% when '2' %}二月
                      {% when '3' %}三月
                      {% when '4' %}四月
                      {% when '5' %}五月
                      {% when '6' %}六月
                      {% when '7' %}七月
                      {% when '8' %}八月
                      {% when '9' %}九月
                      {% when '10' %}十月
                      {% when '11' %}十一月
                      {% when '12' %}十二月
                      {% endcase %}
                    {{ page.date | date: "%-d" }}日，{{ page.date | date: "%Y" }}
                    
               </span>
	</div>

	<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
</header>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="entry-content" itemprop="articleBody">
		{{ content }}
	</div>
</article>

<div id="post-nav">
	<div class="next">
		{% if page.next.url %}
		<a href="{{ site.baseurl }}{{ page.next.url }}">
			<span>上一篇</span>
			{{ page.next.title }}
		</a>
		{% endif %}
	</div>

	<div class="previous">
		{% if page.previous.url %}
		<a href="{{ site.baseurl }}{{ page.previous.url }}">
			<span>下一篇</span>
			{{ page.previous.title }}
		</a>
		{% endif %}
	</div>
</div>
